<div class="container-fluid">
  <h1>Seeds</h1>

  <%= render 'shared/set_errors', set: @teams %>

  <% team_groups = @teams.group_by{ |t| t.division } %>
  <ul class="nav nav-tabs" style="padding-top: 20px;">
    <% team_groups.each_with_index do |(division, teams), idx| %>
      <li class="<%= 'active' if idx == 0 %>">
        <a href="#<%= division_html_id(division) %>" data-toggle="tab"><%= division %></a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content" style="padding-top: 30px;">

    <% team_groups.each_with_index do |(division, teams), idx| %>
      <div class="tab-pane <%= 'active' if idx == 0 %>" id="<%= division_html_id(division) %>">
        <div class="col-md-3 col-md-offset-1">
          <%= form_tag admin_tournament_seeding_index_path(@tournament), method: :put, remote: true do %>
            <%= render 'division', teams: teams %>
            <%= submit_tag 'Save', class: "btn btn-primary pull-right" %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
  $( document ).ready(function() {
    $('.nav-tabs').stickyTabs();
  });
</script>
