<%= form_for [:admin, @tournament] do |f| %>
  <%= render 'admin/errors', object: @tournament %>

  <div class="row">
    <div class="from-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="from-group">
      <%= f.label :handle %><br>
      <%= f.text_field :handle, class: 'form-control' %>
    </div>

    <div class="from-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control',  rows: "10" %>
    </div>

    <div class="from-group">
      <%= f.label :time_cap %> (in minutes)<br>
      <%= f.number_field :time_cap, class: 'form-control' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="actions">
      <%= f.submit 'Save', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
