<div class="row">
  <div class="col-md-6">
    <%= form.ui_text_field :name %>
    <%= form.ui_text_field :lat, readonly: true %>
    <%= form.ui_text_field :long, readonly: true %>
    <%= form.ui_text_area :geo_json, rows: 10, readonly: true, style: 'resize: none;' %>
  </div>

  <div class="col-md-6">
    <div class="row" define="{fieldEditor: new Admin.FieldEditor(
        <%= @map.zoom %>,
        <%= @field.to_json %>,
        <%= @fields.to_json || [] %>
      )}">
      <div class="col-md-12">
        <div id="_map" style="width: 100%; height: 640px;"></div>
      </div>
    </div>
  </div>
</div>

<hr>

<%= form.ui_save_button %>
