<div class="row">
  <div class="col-md-6">
    <%= form.ui_text_field :name %>
    <% if @map.edited? %>
      <div class="hidden-xs hidden-sm">
        <br>
        <p>
          The following fields are created when you draw your field.
          They're shown in case you want to copy and paste to another map
          program.
        </p>
        <%= form.ui_text_field :lat, readonly: true %>
        <%= form.ui_text_field :long, readonly: true %>
        <%= form.ui_text_area :geo_json, rows: 10, readonly: true, style: 'resize: none;' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @map.edited? %>
      <% if @field.new_record? || @field.geo_json.blank? %>
        <p>
          Draw your field on the map. To start drawing click or press and hold.
        </p>
      <% else %>
        <p>
          Edit your field drawing.
        </p>
      <% end %>
      <p>
        If the map isn't quite where you want it positioned you can edit it <%= link_to 'here', admin_map_path %>.
      </p>
      <div class="row" define="{fieldEditor: new Admin.FieldEditor(
          <%= @map.zoom %>,
          <%= @map.lat %>,
          <%= @map.long %>,
          <%= @field.to_json %>,
          <%= @fields.to_json || [] %>
        )}">
        <div class="col-md-12">
          <div id="_map" style="width: 100%; height: 640px;"></div>
        </div>
      </div>
    <% else %>
      <div style="padding-top: 30px;">
        <i class="fa fa-exclamation-triangle"></i>
        Set up your <%= link_to 'Map', admin_map_path %> so you can add fields to it!
      </div>
    <% end %>
  </div>
</div>

<hr>

<%= form.ui_save_button %>
