<% content_for :top_bar_left do %>
  <i class="fa fa-map-signs"></i>
  Fields
<% end %>

<%= content_for :top_bar_right do %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importCsvModal">
    Import
  </button>
  <%= link_to 'Export', export_csv_tournament_admin_fields_path(@tournament, format: "csv"), class: "btn btn-primary" %>
  <%= link_to 'New', new_tournament_admin_field_path(@tournament), class: "btn btn-primary" %>
<% end %>

<%= render 'import_csv_modal' %>

<%= admin_content do %>
  <%= tabs(key: Admin::FieldsController::TAB_KEY) do |t| %>
    <%= t.nav(['List', 'Map']) %>
    <%= t.panes do %>

      <%= t.pane('List') do %>
        <%= react_component('Admin.FieldsIndex', {
          fields: render(template: 'admin/fields/fields.json.jbuilder'),
          searchColumns: ["name"],
          filters: []
        }) %>
      <% end %>

      <%= t.pane('Map') do %>
        <div id="_map" style="width:100%; height: 640px;"></div>
      <% end %>

    <% end %>
  <% end %>
<% end %>

<script>
  $( document ).ready(function() {
    stickyTabs = new Admin.StickyTabs('<%= Admin::FieldsController::TAB_KEY %>');

    fieldsIndexMap = new Admin.FieldsIndexMap(
      <%= @map.lat %>,
      <%= @map.long %>,
      <%= @map.zoom %>,
      <%== render(template: 'admin/fields/fields.json.jbuilder') %>
    );
  });
</script>
