<% content_for :top_bar_left do %>
  <i class="fa fa-map-signs"></i>
  Fields
<% end %>

<%= content_for :top_bar_right do %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importCsvModal">
    Import
  </button>
  <%= link_to 'Export', export_csv_admin_fields_path(format: "csv"), class: "btn btn-primary" %>
  <%= link_to 'New', new_admin_field_path, class: "btn btn-primary" %>
<% end %>

<%= render 'import_csv_modal' %>

<% if @fields.present? %>
  <%= tabs(key: Admin::FieldsController::TAB_KEY) do |t| %>
    <%= t.nav(['List', 'Map']) %>
    <%= t.panes do %>

      <%= t.pane('List') do %>
        <%= react_component('Admin.FieldsIndex', {
          fields: render(template: 'admin/fields/fields.json.jbuilder'),
          searchColumns: ["name"],
          filters: []
        }) %>
      <% end %>

      <%= t.pane('Map') do %>
        <%= render 'map' %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="blank-slate">
    <h3>Add a Field to get Started</h3>
    <p>Fields are used to build your tournament schedule and create a map of where each game is happening.</p>
    <%= link_to 'Add Field', new_admin_field_path, class: "btn btn-primary" %>
  </div>
<% end %>
