<% content_for :top_bar_left do %>
  <div class="navbar-brand page-title">
    <i class="fa fa-map-signs"></i>
    Fields
  </div>
<% end %>

<%= content_for :top_bar_right do %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importCsvModal">
    Import
  </button>
  <%= link_to 'Export', export_csv_tournament_admin_fields_path(@tournament, format: "csv"), class: "btn btn-primary" %>
  <%= link_to 'New', new_tournament_admin_field_path(@tournament), class: "btn btn-primary" %>
<% end %>

<%= render 'import_csv_modal' %>

<%= admin_content do %>
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li>
        <a href="#list-tab" data-toggle="tab">List</a>
      </li>
      <li class="active">
        <a href="#map-tab" data-toggle="tab">Map</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane" id="list-tab">
      <%= react_component('Admin.FieldsIndex',
        render(template: 'admin/fields/fields.json.jbuilder')) %>
    </div>
    <div class="tab-pane active" id="map-tab">
      <div id="map" style="width:100%; height: 640px;"></div>
    </div>
  </div>
<% end %>

<script>
  $( document ).ready(function() {
    stickyTabs = new Admin.StickyTabs('fieldsTab');

    fieldsIndexMap = new Admin.FieldsIndexMap(
      <%= @map.lat %>,
      <%= @map.long %>,
      <%= @map.zoom %>,
      <%= raw @fields.to_json %>
    );
  });
</script>
