<%= builder_card error: @tournament.errors.present?, back: is_back? do %>
  <%= form_for @tournament, url: wizard_path, method: :put do |form| %>

    <div class="form-group">
      <%= form.label :time_cap, "What's the time cap for games?", class: 'subdued' %>
      <div class="input-group">
        <%= form.number_field :time_cap,
                           class: 'form-control input-lg',
                           autofocus: true %>
        <div class="input-group-addon">minutes</div>
      </div>
    </div>

    <div class="builder-next-btn">
      <%= form.submit "Next", class: 'btn btn-lg btn-primary',
      "track-click" => "{category: 'Signup.TournamentStep1', action: 'next'}" %>
    </div>

  <% end %>
<% end %>

<script>
  // push one fake history to prevent accidental back press
  history.pushState(null, null, null);
</script>
