<%= builder_card error: @tournament.errors.present?, back: is_back? do %>
  <%= form_for @tournament, url: wizard_path, method: :put do |form| %>
    <div class="form-group">
      <%= form.label :location, 'Where is your tournament?', class: 'subdued' %>
      <%= form.text_field :location,
                          class: 'form-control input-lg',
                          id: 'placesSearch',
                          placeholder: 'Search places ...',
                          autofocus: true %>
    </div>

    <%= form.fields_for :map do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :long %>
      <%= f.hidden_field :zoom %>
    <% end %>

    <div class="builder-next-btn">
      <%= form.submit "Next", class: 'btn btn-lg btn-primary',
      "track-click" => "{category: 'Signup.TournamentStep2', action: 'next'}" %>
    </div>
  <% end %>
<% end %>

<script>
  $( document ).ready(function() {
    placesSearch = new UT.PlacesSearch( function(place) {
      var lat = place.geometry.location.lat();
      var lng = place.geometry.location.lng();
      $('#tournament_map_attributes_lat').val(lat);
      $('#tournament_map_attributes_long').val(lng);
    });
  });
</script>
