<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <title>Ultimate Tournament</title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="register-page">
  <div class="register-box">
    <div class="register-logo">
      Ultimate Tournament
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Sign up to create a tournament</p>
      <%= form_for @tournament, url: signup_path do |form| %>
        <%= form.ui_text_field :name %>
        <%= form.ui_text_field :handle %>
        <%= form.ui_text_area :description, rows: "10" %>
        <%= form.ui_number_field :time_cap %>
        <div id="map" style="width: 100%; height: 640px;"></div>
        <%= form.fields_for :map do |f| %>
          <%= f.ui_text_field :lat %>
          <%= f.ui_text_field :long %>
          <%= f.ui_text_field :zoom %>
        <% end %>
        <%= form.ui_save_button %>
      <% end %>
    </div>
  </div>

  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>

  <script>
    $( document ).ready(function() {
      map = new Admin.Settings(
        <%= @tournament.map.lat %>,
        <%= @tournament.map.long %>,
        <%= @tournament.map.zoom %>
      );
    });
  </script>
</body>
</html>
