<div define="{sidebar: Admin.Sidebar()}" context="sidebar">
  <header class="main-header">
    <a class="logo" style="cursor: pointer;" bind-event-click="toggle()">
      <span class="logo-mini">UT</span>
      <span class="sidebar-toggle"></span>
      <span class="logo-lg">Ultimate Tournament</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-brand page-title">
        <%= yield :top_bar_left %>
      </div>

      <div class="navbar-custom-menu">
        <%= yield :top_bar_right %>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">

      <ul class="sidebar-menu" bind-event-click="navigate(event)">
        <%= sidebar_link "fa fa-home", "Home", admin_path %>
        <%= sidebar_link "fa fa-users", "Teams", admin_teams_path %>
        <%= sidebar_link "fa fa-sitemap", "Divisions", admin_divisions_path %>
        <%= sidebar_link "fa fa-map-signs", "Fields", admin_fields_path %>
        <%= sidebar_link "fa fa-map", "Map", admin_map_path, 'data-no-turbolink' => true %>
        <%= sidebar_link "fa fa-calendar", "Schedule", admin_schedule_path %>
        <%= sidebar_link "fa fa-list", "Games", admin_games_path, badge: games_badge(@tournament) %>

        <li class="treeview <%= sidebar_menu_class('settings') %>" define="{menu: new Admin.TreeMenu('settings', this)}">
          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Settings</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <%= sidebar_link nil, "Tournament", admin_settings_path %>
            <%= sidebar_link nil, "Account", admin_account_path %>
          </ul>
        </li>

        <br class="hidden-xs">

        <li>
          <%= link_to '#', 'bind-event-click' => 'window.open("/", "_blank")' do %>
            <i class="fa fa-external-link-square"></i>
            <span>Player App</span>
          <% end %>
        </li>

        <br class="hidden-xs">

        <li>
          <%= mail_to 'support@ultimate-tournament.io', target: '_blank' do %>
            <i class="icon fa fa-question-circle"></i>
            <span>Need Help?</span>
          <% end %>
        </li>
      </ul>

      <% if current_user.staff? %>
        <div class="staff-panel">
          <%= sidebar_link "fa fa-user-secret", "Internal Area", internal_url(subdomain: 'www') %>
        </div>
      <% end %>

      <div class="user-panel dropup">
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          <li><%= link_to "Account", admin_account_path %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete,
                  onclick: "$('body').addClass('fadeOut'); return false;" %>
          </li>
        </ul>

        <div class="pull-left image">
          <%= image_tag current_user.gravatar_url, class: 'img-circle' %>
        </div>

        <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="userDropdown">
          <div class="info">
            <%= @tournament.name %>
            <br>
            <%= current_user.name %>
          </div>
        </a>
      </div>

    </section>
  </aside>
</div>
