<div define="{sidebar: Admin.Sidebar()}" context="sidebar">
  <header class="main-header">
    <a class="logo" style="cursor: pointer;" bind-event-click="toggle()">
      <span class="logo-mini">UT</span>
      <span class="sidebar-toggle"></span>
      <span class="logo-lg">Ultimate Tournament</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-brand page-title">
          <%= yield :top_bar_left %>
        </div>

        <div class="navbar-form navbar-right">
          <%= yield :top_bar_right %>
        </div>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">

      <ul class="sidebar-menu">
        <%= sidebar_link "fa fa-home", "Home", tournament_admin_path(@tournament) %>
        <%= sidebar_link "fa fa-map-signs", "Fields", tournament_admin_fields_path(@tournament) %>
        <%= sidebar_link "fa fa-users", "Teams", tournament_admin_teams_path(@tournament) %>
        <%= sidebar_link "fa fa-sitemap", "Brackets", tournament_admin_brackets_path(@tournament) %>
        <%= sidebar_link "fa fa-calendar", "Schedule", tournament_admin_schedule_path(@tournament) %>
        <%= sidebar_link "fa fa-list", "Games", tournament_admin_games_path(@tournament) %>

        <li class="treeview <%= sidebar_menu_class('settings') %>" define="new Admin.TreeMenu('settings', this)">
          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Settings</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <%= sidebar_link nil, "Tournament", tournament_admin_settings_path(@tournament) %>
            <%= sidebar_link nil, "Map", tournament_admin_map_path(@tournament) %>
          </ul>
        </li>

        <li>
          <%= link_to @tournament.app_link, target: '_blank' do %>
            <i class="fa fa-external-link-square"></i>
            <span>Player App</span>
          <% end %>
        </li>
      </ul>

      <div class="user-panel dropup">
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          <li><%= link_to "Account", tournament_admin_account_path(@tournament) %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete,
                  onclick: "$('body').addClass('fadeOut'); return false;" %>
          </li>
        </ul>

        <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="userDropdown">
          <div class="pull-left image">
            <%= image_tag current_user.gravatar_url, class: 'img-circle' %>
          </div>

          <div class="pull-left info" style="<%= sidebar_user_class %>">
            <%= current_user.name %>
          </div>

          <div class="pull-right">
            <i class="fa fa-chevron-up" style="<%= sidebar_user_class %>"></i>
          </div>
        </a>
      </div>

    </section>
  </aside>
</div>
