<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">
      <li class="header">Setup</li>
      <%= sidebar_link "fa fa-home", "Tournament", tournament_admin_path(@tournament), @tournament.persisted? %>
      <%= sidebar_link "fa fa-map-signs", "Fields", tournament_admin_fields_path(@tournament), @tournament.map.try(:persisted?) %>
      <%= sidebar_link "fa fa-users", "Teams", tournament_admin_teams_path(@tournament), @tournament.fields.exists? %>
      <%= sidebar_link "fa fa-sitemap", "Brackets", tournament_admin_brackets_path(@tournament), @tournament.teams.exists? %>
      <%= sidebar_link "fa fa-calendar", "Schedule", tournament_admin_schedule_path(@tournament), @tournament.teams.exists? %>
      <li class="header">Operation</li>
      <%= sidebar_link "fa fa-list", "Games", tournament_admin_games_path(@tournament), @tournament.games.exists? %>
      <li>
        <%= link_to @tournament.app_link, target: '_blank' do %>
          <i class="fa fa-external-link-square"></i>
          <span>App</span>
        <% end %>
      </li>
    </ul>

  </section>
</aside>
