<section define='{
  scheduleEditor: new Admin.ScheduleEditor(
    $(".table"),
    <%= @tournament.time_cap %>
  )}'
  context='scheduleEditor'>

  <%= form_tag admin_schedule_path, "bind-event-submit" => "saveSchedule(this)" do %>
    <div id="redips-drag">
      <%= render 'games' %>
      <%= render 'fields_table' %>
    </div>
    <a href="#" class="btn btn-primary" bind-event-click="addRow()">Add row</a>
    <%= submit_tag 'Save Schedule', class: "btn btn-primary pull-right" %>
  <% end %>
</section>
