<table data-field-id="<%= field.id %>" class="table table-bordered table-striped table-hover editable-table">
  <thead>
    <tr>
      <th class="hide">id</th>
      <th data-override="time">Time</th>
      <th data-override="home">Home</th>
      <th data-override="away">Away</th>
    </tr>
  </thead>
  <tbody>
    <% games = field.games.present? ? field.games : [field.games.build] %>
    <% games.each do |game| %>
      <tr class="<%= 'danger' if game.errors.present? %>">
        <td class="hide"><%= game.id %></td>
        <td><%= game.start %></td>
        <td><%= game.home %></td>
        <td><%= game.away %></td>
      </tr>
    <% end %>
  </tbody>
</table>
