<table data-field-id="<%= field.id %>" class="table table-bordered table-striped table-hover editable-table">
  <thead>
    <tr>
      <th class="hide">id</th>
      <th data-override="start_time">Time</th>
      <th data-override="home_id">Home</th>
      <th data-override="away_id">Away</th>
    </tr>
  </thead>
  <tbody>
    <% games = field.games.present? ? field.games : [field.games.build] %>
    <% games.each do |game| %>
      <tr class="<%= 'danger' if game.errors.present? %>">
        <td class="hide"><%= game.id %></td>
        <td id="time"><%= game.start_time %></td>
        <td id="team"><%= game.home_id %></td>
        <td id="team"><%= game.away_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
