<div id="games-card" class="box box-solid redips-noautoscroll">
  <div class="box-body">
    <table class="table">
      <tbody>
        <tr>
          <% @games.group_by{ |g| g.division }.each do |division, games| %>
            <td class="game-col redips-mark redips-trash">
              <h3>
                <i class="fa fa-stop" style="<%= color_for_division(division) %>"></i> <%= division.name %>
              </h3>
              <table id="division-<%= division.id %>">
                <tbody>
                  <% games.select{ |g| g.field_unassigned? }.each_slice(2) do |_games| %>
                    <tr>
                      <% _games.each do |game| %>
                        <td class="redips-mark">
                          <div class="game redips-drag"
                               style="<%= color_for_game(game) %>"
                               data-game-id="<%= game.id %>"
                               data-division-id="<%= game.division_id %>">
                            <%= game_draggable_text(game) %>
                          </div>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          <% end %>
        </tbody>
      </tr>
    </table>
  </div>
</div>
