<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <title><%= @tournament.name %> Schedule</title>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' -%>
    <%= wicked_pdf_stylesheet_link_tag 'schedule_pdf' -%>
    <%= wicked_pdf_javascript_include_tag 'number_pages' %>
  </head>

  <body onload='number_pages'>
    <% @games.group_by{ |g| g.start_time&.day }.each do |date, games| %>
      <% unless date.nil? %>
        <%= render 'day_page', fields: @fields, games: games %>
      <% end %>
    <% end %>

    <% @divisions.each do |division| %>
      <%= render 'division_page', division: division %>
    <% end %>
  </body>
</html>
