<div class="container">
  <h1>Schedule</h1>

  <% @fields.each do |field| %>
    <% if field.games.any?{ |game| game.errors.present? } %>
      <div class="alert alert-danger">
        <% field.games.each do |game| %>
          <% if game.errors.present? %>
              <p><%= game.name %></p>
              <ul>
                <% game.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <%= render 'teams', teams: @teams %>
    </div>
  </div>

  <hr>

  <%= form_tag admin_tournament_schedule_path(@tournament), "bind-event-submit" => "scheduleTable.save(this)" do %>
    <table class="schedule-table">
      <thead>
        <tr>
          <% @fields.each do |field| %>
            <th id="field"><%= field.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @fields.each do |field| %>
            <td><%= render 'field', field: field %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <div id="table-menu">
      <ul class="dropdown-menu">
        <li><a data-action="add" href="#">Add Row</a></li>
        <li><a data-action="delete" href="#">Delete Row</a></li>
      </ul>
    </div>

    <div class="row">
      <input type="file" accept=".csv" bind-event-change="scheduleTable.uploadCsv(event)" />
      <button type="button" class="btn" bind-event-click="scheduleTable.exportCsv()">Export CSV</button>

      <%= submit_tag 'Save Schedule', class: "btn btn-primary pull-right" %>
      <button type="button" class="btn btn-primary pull-right" bind-event-click="scheduleTable.addRow()">Add Game</button>
    </div>
  <% end %>
</div>

<script>
  $( document ).ready(function() {
    tableNode = $('.schedule-table');
    scheduleTable = new TournamentApp.ScheduleTable(
      tableNode,
      <%= raw @teams.to_json %>
    );
  });
</script>
