<div class="container-fluid" define='{
  scheduleEditor: new Admin.ScheduleEditor(
    $(".table"),
    <%= @tournament.time_cap %>
  )}'
  context='scheduleEditor'>
  <h1>Schedule</h1>

  <div class="games row">
    <% @games.group_by{ |g| g.bracket }.each do |bracket, games| %>

      <div class="col-md-2">
        <h3>
          <%= bracket.division %>
        </h3>
        <% games.each do |game| %>
          <% if game.unassigned? %>
            <div class="game draggable drag-drop" data-game-id="<%= game.id %>">
              <%= game.bracket_uid %>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>
  </div>

  <div class="row">
    <%= form_tag admin_tournament_schedule_path(@tournament), "bind-event-submit" => "saveSchedule(this)" do %>
      <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Time</th>
            <% @fields.each do |field| %>
              <th><%= field.name %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @times.each_with_index do |time, index| %>
            <tr>
              <td class="time-input">
                <div class="time-input">
                  <input type="text" class="datetimepicker form-control" value="<%= time_for_datetimepicker(time) %>" bind-event-blur="timeUpdated(event)">
                <div>
              </td>
              <% @fields.each do |field| %>
                <td class="dropzone" data-field-id="<%= field.id %>">
                  <% if game = @games.detect{ |g| g.field_id == field.id && g.start_time == time } %>
                    <div class="game draggable drag-drop" data-game-id="<%= game.id %>" data-field-id="<%= field.id %>" data-start-time="'<%= time %>'" data-row-idx="<%= index %>">
                      <%= game.bracket_uid %>
                    </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row">
        <a href="#" class="btn btn-primary" bind-event-click="addRow()">Add row</a>
        <%= submit_tag 'Save Schedule', class: "btn btn-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>
