<tr id="score-reports:<%= report.id %>">
  <td class="score"><%= report.score %></td>
  <td class="submitted-by">
    <span data-toggle="tooltip" data-placement="right" data-container="body" title="fingerprint: <%= report.submitter_fingerprint %>">
      <%= report.submitted_by %>
    </span>
  </td>
  <td class="submitted-at"><%= report.created_at.strftime("%A %l:%M %P") %></td>
  <td bind-class="{danger: <%= report.sotg_warning? %>}">
    <%= report.sotg_score %>
  </td>
  <td class="comments"><%= report.comments %></td>
  <td>
    <%= form_tag admin_tournament_game_path(@tournament, game),
        method: :put,
        remote: true,
        'bind-event-submit' => "confirmScore(this)" do |form| %>
      <%= hidden_field_tag 'home_score', report.home_score %>
      <%= hidden_field_tag 'away_score', report.away_score %>
      <%= submit_tag 'Accept', class: 'btn btn-xs' %>
    <% end %>
  </td>
</tr>
