<div class="container-fluid">
  <h1>Games</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Field</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <% @games.group_by{|g| g.start_time }.each do |time, games| %>
        <tr class="active">
          <td><strong><%= time.strftime("%l:%M %P") %></strong></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <% games.each do |game| %>
          <tr>
            <td><%= game.name %></td>
            <td><%= game.field.name %></td>
            <td>
              <a href="#" data-toggle="popover" data-placement="bottom" title="Edit score" data-content='<%= render "score_form", tournament: @tournament, game: game %>'>
                <%= "#{game.home_score} - #{game.away_score}" %>
              </a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>

<script>
  $( document ).ready(function() {
    $("[data-toggle=popover]").popover({
      html: true
    });
  });
</script>
