<% content_for :top_bar_left do %>
  <i class="fa fa-list"></i>
  Games
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'Spirit Scores', admin_score_reports_path, class: "btn btn-default" %>
<% end %>

<% if @games.present? %>
  <% if @games.all? { |game| game.unconfirmed? && game.score_reports.blank? } %>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <i class="icon fa fa-info"></i>
      These are the games that were automatically created for your tourament.
      This is where you can enter and review score reports.
      If your tournament hasn't started yet then there isn't much to do on this page.
    </div>
  <% end %>

  <%= ui_box do %>
    <%= react_component('Admin.GamesIndex', {
      games: render(template: 'admin/games/games.json.jbuilder', locals: {games: @games}),
      searchColumns: [
        "name",
        "division",
        "pool"
      ],
      filters: division_filters(@tournament) + [
        {text: 'Has teams', key: 'has_teams', value: 1},
        {text: 'Scores submitted', key: 'has_score_reports', value: 1},
        {text: 'Nothing submitted', key: 'has_score_reports', value: 0},
        {text: 'Has score', key: 'confirmed', value: 1},
        {text: 'No score', key: 'confirmed', value: 0},
        {text: 'Played', key: 'played', value: 1},
      ]
    }) %>
  <% end %>
<% else %>
  <div class="blank-slate">
    <h3>Games and Score Reports</h3>
    <p>
      After Divisions are created your games will be found here.
      Review and accept submitted scores from this page.
    </p>
    <%= link_to 'Go to Divisions', admin_divisions_path, class: "btn btn-primary" %>
  </div>
<% end %>
