<p id="notice"><%= notice %></p>

<p>
  <strong>Home score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @game.away_score %>
</p>

<p>
  <strong>Start:</strong>
  <%= @game.start %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @game.finished %>
</p>

<p>
  <strong>Score confirmed:</strong>
  <%= @game.score_confirmed %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
