<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <title>Ultimate Tournament</title>
  <%= stylesheet_link_tag 'brochure', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'shared/rollbar' %>
  <%= csrf_meta_tags %>
</head>

<body class="landing-page">
  <%= render 'nav' %>
  <%= render 'hero' %>
  <%= render 'features' %>
  <%= render 'users' %>
  <%= render 'signup' %>
  <%= render 'contact' %>
  <%= render 'footer' %>

  <%= render 'signup_modal' %>

  <%= javascript_include_tag 'brochure', 'data-turbolinks-track' => true %>
</body>
</html>
