<%= builder_card error: @tournament.errors.present? do %>
  <%= form_for @tournament, url: setup_path do |form| %>

    <div class="form-group">
      <%= form.text_field :name,
                          placeholder: 'Tournament name',
                          class: 'form-control input-lg',
                          autofocus: true %>
    </div>

    <div id="tournament_url_container" style="display: none;">
      <div class="subdued">
        Your tournament will be available at:
      </div>
      <div id="tournament_url">
        https://ultimate-tournament.io/
      </div>
    </div>

    <%= form.hidden_field :handle %>

    <div class="builder-next-btn">
      <%= form.submit "Next", class: 'btn btn-lg btn-primary' %>
    </div>

  <% end %>
<% end %>
