<% refresh_key = "#{bracket.division}-bracket" %>

<div id="<%= refresh_key %>">
  <h4>Bracket settings</h4>

  <% method = bracket.id ? :put : :post %>
  <% url = bracket.id ? tournament_admin_bracket_path(@tournament, bracket) :  tournament_admin_brackets_path(@tournament) %>
  <%= form_for bracket,
    url: url,
    method: method,
    html: {
      class: 'form-inline',
      'bind-event-submit' => "saveBracket(this, '#{refresh_key}')"
    } do |form| %>

    <%= form.hidden_field :tournament_id %>
    <%= form.hidden_field :division %>

    <% options = bracket_options(num_teams) %>
    <% if options.present? %>
      <%= form.select :bracket_type, options, {}, class: 'form-control', bind: "bracket#{bracket.id}selected" %>
      <% if bracket.id %>
        <button type="submit" class="btn btn-default">Update</button>
      <% else %>
        <button type="submit" class="btn btn-default">Create</button>
      <% end %>

      <% if bracket.id %>
        <a href="#" class="btn btn-default" bind-event-click="seedBracket($(this), '<%= seed_tournament_admin_bracket_path(@tournament, bracket) %>')">seed</a>
      <% else %>
        <a href="#" class="btn btn-default disabled">seed</a>
      <% end %>
    <% else %>
      <input type="text" class="form-control" disabled value="No bracket types available">
    <% end %>
  <% end %>

  <% BracketDb.templates_for(num_teams).each do |name, template| %>
    <code bind-show="'<%= name %>' == bracket<%= bracket.id %>selected">
      <pre><%= pretty_print_template(template) %></pre>
    </code>
  <% end %>
</div>
