<% content_for :top_bar_left do %>
  <div class="navbar-brand page-title">
    <i class="fa fa-sitemap"></i>
    Brackets
  </div>
<% end %>


<%= admin_content_box do %>
  <div class="content" define='{bracketEditor: new Admin.BracketEditor()}' context='bracketEditor'>
    <% team_groups = @teams.group_by{ |t| t.division } %>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <% team_groups.each_with_index do |(division, teams), idx| %>
          <li class="<%= 'active' if idx == 0 %>">
            <a href="#<%= division_html_id(division) %>" data-toggle="tab"><%= division %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="tab-content">
      <% team_groups.each_with_index do |(division, teams), idx| %>
        <div class="tab-pane <%= 'active' if idx == 0 %>" id="<%= division_html_id(division) %>">
          <div class="col-md-3">
            <%= render 'seeding', division: division, teams: teams %>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <%= render 'bracket', num_teams: teams.size, bracket: @brackets.detect{ |b| b.division == division } %>
          </div>
        </div>
      <% end %>
    </div>
  <div>
<% end %>

<script>
  $( document ).ready(function() {
    stickyTabs = new Admin.StickyTabs('bracketsTab');
  });
</script>
