<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  Brackets
<% end %>

<div define='{bracketEditor: new Admin.BracketEditor()}' context='bracketEditor'>
  <%= tabs(key: Admin::BracketsController::TAB_KEY) do |t| %>
    <%= t.nav(@teams.map(&:division).uniq) %>
    <%= t.panes do %>
      <% team_groups = @teams.group_by{ |t| t.division } %>
      <% team_groups.each do |(division, teams)| %>
        <%= t.pane(division) do %>
          <div class="row">
            <div class="col-md-3">
              <%= render 'seeding', division: division, teams: teams %>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <%= render 'bracket', num_teams: teams.size, bracket: @brackets.detect{ |b| b.division == division } %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
