<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  Divisions
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'New', new_admin_division_path, class: "btn btn-primary" %>
<% end %>

<% if @divisions.present? %>
  <%= ui_box do %>
    <%= react_component('DivisionsIndex',
                         props: {
                           divisions: render(template: 'admin/divisions/divisions.json.jbuilder'),
                           searchColumns: ["name"],
                           filters: []
                         }
    ) %>
  <% end %>
<% else %>
  <div class="blank-slate">
    <h3>Create Divisions and Brackets</h3>
    <p>
      Divisions control your tournament, choose a bracket and all the games get create automatically.
    </p>
    <%= link_to 'New Division', new_admin_division_path, class: "btn btn-primary" %>
  </div>
<% end %>
