<% content_for :top_bar_left do %>
  <i class="fa fa-mobile"></i>
  Player App
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to '#', class: 'btn btn-primary', 'bind-event-click' => 'window.open("/", "_blank")' do %>
    <span>Open fullscreen </span>
    <i class="fa fa-external-link-square"></i>
  <% end %>
<% end %>

<div class="row">
  <div class="device-column hidden-sm hidden-xs">
    <div class="device">
      <div class="device-content">
        <iframe src="<%= @tournament.domain %>" class="device-iframe"></iframe>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-offset-480">
    <%= ui_box do %>
      <p>
        Your player is available at
        <a href="<%= @tournament.domain %>"><%= @tournament.domain %></a>
        (its the same as your admin url without without the <mark>/admin</mark> part).
      </p>

      <br>

      <p>
        The player app is a mobile first website which means its feels very
        natural to use on a phone but downloading an app is not required.
      </p>
    <% end %>

    <%= ui_box do %>
      <p>
        Using the player app anyone can view the schedule, field map,
        find a team or field and submit score reports
        along with spirt of the game score.
      </p>

      <br>

      <p>
        Before your tournament starts you should send the link to the app
        to all teams in your tournament.
      </p>
    <% end %>
  </div>
</div>
