<div class="container">
  <h1>Score Reports</h1>

  <table class="table table-bordered table-striped table-hover editable-table">
    <thead>
      <tr>
        <th>Game</th>
        <th>Score</th>
        <th>Submitted by</th>
        <th>Rules Knowledge</th>
        <th>Fouls and Body Contact</th>
        <th>Fair-Mindedness</th>
        <th>Positive Attitude and Self-Control</th>
        <th>Communication</th>
        <th>Comments</th>
        <th>Confirmed</th>
      </tr>
    </thead>
    <tbody>
      <% @score_reports.each do |report| %>
        <tr>
          <td><%= report.game_name %></td>
          <td><%= report.score %></td>
          <td>
            <a href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="fingerprint: <%= report.submitter_fingerprint %>">
              <%= report.submitted_by %>
            </a>
          </td>
          <td><%= report.rules_knowledge %></td>
          <td><%= report.fouls %></td>
          <td><%= report.fairness %></td>
          <td><%= report.attitude %></td>
          <td><%= report.communication %></td>
          <td><%= report.comments %></td>
          <td>
            <% if report.game.unconfirmed? %>
              <%= form_tag confirm_score_admin_tournament_game_path(@tournament, report.game), method: :post, remote: true  do |form| %>
                <%= hidden_field_tag 'home_score', report.home_score %>
                <%= hidden_field_tag 'away_score', report.away_score %>
                <%= submit_tag 'Confirm', class: 'btn btn-primary' %>
              <% end %>
            <% else %>
              <i class="fa fa-check" style="color:green"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
