<div class="row" style="padding-top: 10px;">
  <div class="col m4">
    <div class="card-panel">
      <i class="fa fa-trophy"></i>
      <span>Tournaments</span>
      <p><%= Tournament.count %> total</p>
      <p><%= Tournament.where('created_at > ?', Time.now - 1.day).count %> in the last day</p>
    </div>
  </div>

  <div class="col m4">
    <div class="card-panel">
      <i class="fa fa-user"></i>
      <span>User Logins</span>
      <p><%= User.where('last_sign_in_at > ?', Time.now - 1.week).count %> in the last week</p>
      <p><%= User.where('last_sign_in_at > ?', Time.now - 1.month).count %> in the last month</p>
    </div>
  </div>

  <div class="col m4">
    <div class="card-panel">
      <i class="fa fa-users"></i>
      <span>Teams</span>
      <p><%= Team.count %> total</p>
      <p><%= Team.where('created_at > ?', Time.now - 1.day).count %> in the last day</p>
    </div>
  </div>

  <div class="col m4">
    <div class="card-panel">
      <i class="fa fa-map-signs"></i>
      <span>Fields</span>
      <p><%= Field.count %> total</p>
      <p><%= Field.where('created_at > ?', Time.now - 1.day).count %> in the last day</p>
    </div>
  </div>

  <div class="col m4">
    <div class="card-panel">
      <i class="fa fa-sitemap"></i>
      <span>Divisions</span>
      <p><%= Division.count %> total</p>
      <p><%= Division.where('created_at > ?', Time.now - 1.day).count %> in the last day</p>
    </div>
  </div>

  <div class="col m4">
    <div class="card-panel">
      <i class="fa fa-list"></i>
      <span>Games</span>
      <p><%= Game.count %> total</p>
      <p><%= Game.where('created_at > ?', Time.now - 1.day).count %> in the last day</p>
    </div>
  </div>

  <div class="col m4">
    <div class="card-panel">
      <i class="fa fa-file-o"></i>
      <span>Score Reports</span>
      <p><%= ScoreReport.with_deleted.count %> total</p>
      <p><%= ScoreReport.where('created_at > ?', Time.now - 1.day).count %> in the last day</p>
    </div>
  </div>
</div>
