<% content_for :top_bar_left do %>
  <i class="fa fa-tachometer"></i>
  Dashboard
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-purple"><i class="fa fa-trophy"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Tournaments</span>
        <span class="info-box-number"><%= Tournament.count %></span>
        <span class="info-box-text"><%= Tournament.where('created_at < ?', Date.yesterday).count %> (in the last day)</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-purple"><i class="fa fa-users"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Teams</span>
        <span class="info-box-number"><%= Team.count %></span>
        <span class="info-box-text"><%= Team.where('created_at < ?', Date.yesterday).count %> (in the last day)</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-purple"><i class="fa fa-map-signs"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Fields</span>
        <span class="info-box-number"><%= Field.count %></span>
        <span class="info-box-text"><%= Field.where('created_at < ?', Date.yesterday).count %> (in the last day)</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-purple"><i class="fa fa-sitemap"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Divisions</span>
        <span class="info-box-number"><%= Division.count %></span>
        <span class="info-box-text"><%= Division.where('created_at < ?', Date.yesterday).count %> (in the last day)</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-purple"><i class="fa fa-list"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Games</span>
        <span class="info-box-number"><%= Game.count %></span>
        <span class="info-box-text"><%= Game.where('created_at < ?', Date.yesterday).count %> (in the last day)</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-purple"><i class="fa fa-file-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Score Reports</span>
        <span class="info-box-number"><%= ScoreReport.count %></span>
        <span class="info-box-text"><%= ScoreReport.where('created_at < ?', Date.yesterday).count %> (in the last day)</span>
      </div>
    </div>
  </div>
</div>
