<div class="timeline-body">
  Get started by creating
  <%= link_to "Teams", admin_teams_path %>,
  <%= link_to "Divisions", admin_divisions_path %>
  and
  <%= link_to "Fields", admin_fields_path %>.
  It doesn't matter which!
</div>

<div class='timeline-footer'>
  <div class="row">
    <div class="col-md-3">
      <%= link_to admin_teams_path do %>
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3><%= @tournament.teams.count %></h3>
            <p>Teams</p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to admin_divisions_path do %>
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3><%= @tournament.divisions.count %></h3>
            <p>Divisions</p>
          </div>
          <div class="icon">
            <i class="fa fa-sitemap"></i>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to admin_fields_path do %>
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3><%= @tournament.fields.count %></h3>
            <p>Fields</p>
          </div>
          <div class="icon">
            <i class="fa fa-map-signs"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
