<div class="bar bar-nav bar-blue">
  <h1 class="title">Confirm score</h1>
</div>

<div id="score-form" class="content">
  <%= form_tag app_confirm_path, method: :post do |form| %>
    <%= hidden_field_tag 'token', @confirm_token.token %>
    <%= hidden_field_tag 'game_id', @report.game_id %>
    <%= hidden_field_tag 'team_id', @report.other_team.id %>
    <%= hidden_field_tag 'submitter_fingerprint' %>

    <div class="score-labels">
      <div class="form-grid">
        <%= label_tag 'team_score', @report.other_team.name, class: "score-label" %>
      </div>
      <div class="form-grid form-grid-spacer"></div>
      <div class="form-grid">
        <%= label_tag 'opponent_score', @report.team.name, class: "score-label" %>
      </div>
    </div>

    <div class="score-inputs">
      <div class="form-grid">
        <%= number_field_tag 'team_score', @report.opponent_score, class: "score-input", readonly: true %>
      </div>

      <div class="form-grid form-grid-spacer">
        &mdash;
      </div>

      <div class="form-grid">
        <%= number_field_tag 'opponent_score', @report.team_score, class: "score-input", readonly: true %>
      </div>
    </div>

    <header class="content-padded center">
      <h3>Spirit of the game score</h3>
      <p>Your whole team should be involved in rating team <%= @report.team.name %></p>
    </header>
    <br>
    <div class="content-padded">
      <h4>1. Rules knowledge and Use</h4>
      <p>Examples: They did purposefully misinterpret the rules. They kept to time limits. When they didn't know the rules they showed a real willingness to learn</p>
      <%= render 'spirit_question', field: 'rules_knowledge' %>

      <h4>2. Fouls and Body Contact</h4>
      <p>Examples: They avoided fouling, contact, and dangerous plays.</p>
      <%= render 'spirit_question', field: 'fouls' %>

      <h4>3. Fair-Mindedness</h4>
      <p>Examples: They apologized in situations where it was appropriate, informed teammates about wrong/unnecessary calls. Only called significant breaches</p>
      <%= render 'spirit_question', field: 'fairness' %>

      <h4>4. Positive Attitude and Self-Control</h4>
      <p>Examples: They were polite. They played with appropriate intensity irrespective of the score. They left an overall positive impression during and after the game.</p>
      <%= render 'spirit_question', field: 'attitude' %>

      <h4>5. Communication</h4>
      <p>Examples: They communicated respectfully. They listened. They kept to discussion time limits.</p>
      <%= render 'spirit_question', field: 'communication' %>

      <h4>Comments</h4>
      <%= text_area_tag 'comments', nil, rows: 5 %>
    </div>

    <%= submit_tag "Submit", class: 'btn btn-positive btn-block btn-bottom' %>
  <% end %>
</div>

<script>
  var fingerprint = new Fingerprint2()
  fingerprint.get(function(result) {
    $('input#submitter_fingerprint').val(result)
  });
</script>
