<!-- main-view -->
<header class="bar bar-nav">
  <a class="nav-btn pull-left" href="#" bind-event-click="app.scheduleScreen = true">
    <span class="icon icon-bars"></span> Schedule
  </a>
  <a class="nav-btn pull-right" href="#" bind-event-click="app.submitScoreScreen = true">
    Submit a score <span class="icon icon-star"></span>
  </a>
</header>

<!-- this doesn't need to be a bar (I think) -->
<div id="search-bar" class="bar bar-standard bar-header-secondary transparent" bind-show="!!app.searchOpen">
  <select placeholder="Search ..." bind-event-change="app.selectedCallback(event)"></select>
</div>

<div class="bar bar-standard bar-footer">
  <a class="btn btn-find pull-right" href="#" bind-event-click="app.drawerOpen = true" bind-show="!(app.drawerOpen || app.modalOpen)">
    Find <span class="icon icon-caret"></span>
  </a>
</div>

<div class="content">
</div>

<div id="map-canvas" style="position: absolute; width: 100%; height: 100%;"></div>
<!-- end main-view -->


<!-- point-me-there modal -->
<div class="modal" id="point-me-there" bind-class="{active: app.modalOpen}">
  <header class="bar bar-standard">
    <a class="icon icon-close pull-right" href="#" bind-event-click="app.modalOpen = false"></a>
    <h1 class="title">Title</h1>
  </header>

  <div class="content center transparent">
    <%= image_tag 'point-me-there.png', id: 'arrow', class: 'arrow' %>
  </div>

  <div class="bar bar-standard bar-footer-secondary">
    <p>Footer</p>
  </div>
</div>
<!-- end point-me-there modal -->


<!-- find-drawer -->
<div class="drawer" bind-class="{active: app.drawerOpen}">
  <div class="content transparent">
    <ul class="table-view">
      <li class="table-view-cell">
        <a href="#" class="navigate-right" bind-event-click="app.showFieldSelect()">
          Find a field
        </a>
      </li>
      <li href="#" class="table-view-cell">
        <a class="navigate-right" bind-event-click="app.showTeamSelect()">
          Find a team
        </a>
      </li>
    </ul>
  </div>

  <div class="bar bar-standard bar-footer">
    <a class="pull-right" href="#" bind-event-click="app.drawerOpen = false">Back to map</a>
  </div>
</div>
<!-- end find-drawer -->


<!-- schedule-screen -->
<div class="left-screen" bind-class="{active: app.scheduleScreen}">
  <header class="bar bar-standard">
    <a class="icon icon-close pull-left" href="#" bind-event-click="app.scheduleScreen = false"></a>
    <h1 class="title">Left Screen</h1>
  </header>

  <div class="content">
    content
  </div>
</div>
<!-- end schedule-screen -->


<!-- submit-score-screen -->
<div class="right-screen" bind-class="{active: app.submitScoreScreen}">
  <header class="bar bar-standard">
    <a class="icon icon-close pull-right" href="#" bind-event-click="app.submitScoreScreen = false"></a>
    <h1 class="title">Right Screen</h1>
  </header>

  <div class="content">
    content
  </div>
</div>
<!-- end submit-score-screen -->

<script>
  $( document ).ready(function() {
    app = new TournamentApp.App(
      <%= @map.location %>,
      <%= @map.zoom %>,
      <%= raw @fields.to_json %>,
      <%= raw @teams.to_json %>,
      <%= raw @games.to_json %>
    );
  });
</script>
