<!-- main-view -->
<div class="bar bar-nav bar-tblue" bind-show="!(app.scheduleScreen || app.submitScoreScreen)">
  <a class="nav-btn pull-left" href="#" bind-event-click="app.scheduleScreen = true">
    <i class="fa fa-list-alt"></i> Schedule
  </a>
  <a class="nav-btn pull-right" href="#" bind-event-click="app.submitScoreScreenA = true">
    Submit a score <i class="fa fa-star-half-o"></i>
  </a>
</div>

<div id="field-search" class="bar bar-standard bar-header-secondary search-bar" bind-show="!!app.fieldSearchOpen">
  <select placeholder="Search ..." bind-event-change="app.fieldSelected(event)">
    <% @fields.each do |field| %>
      <option value="<%= field.name %>"><%= field.name %></option>
    <% end %>
  </select>
</div>

<div id="team-search" class="bar bar-standard bar-header-secondary search-bar" bind-show="!!app.teamSearchOpen">
  <select placeholder="Search ..." bind-event-change="app.teamSelected(event)">
    <% @teams.each do |team| %>
      <option value="<%= team.name %>"><%= team.name %></option>
    <% end %>
  </select>
</div>

<div class="bar bar-standard bar-footer">
  <a class="btn btn-find pull-right" href="#" bind-event-click="app.drawerOpen = true" bind-show="!(app.drawerOpen || app.modalOpen || app.scheduleScreen)">
    Find <i class="fa fa-caret-up"></i>
  </a>
</div>

<div class="content">
</div>

<div id="map-canvas" style="position: absolute; width: 100%; height: 100%;"></div>
<!-- end main-view -->


<!-- point-me-there modal -->
<div class="modal" id="point-me-there" bind-class="{active: app.modalOpen}">
  <div class="bar bar-standard">
    <h1 class="title">Title</h1>
    <a class="icon icon-close pull-right" href="#" bind-event-click="app.modalOpen = false"></a>
  </div>

  <div class="content center transparent">
    <%= image_tag 'point-me-there.png', id: 'arrow', class: 'arrow' %>
  </div>

  <div class="bar bar-standard bar-footer-secondary">
    <p>Footer</p>
  </div>
</div>
<!-- end point-me-there modal -->


<!-- find-drawer -->
<div class="drawer" bind-class="{active: app.drawerOpen}">
  <div class="content transparent">
    <ul class="table-view">
      <li class="table-view-cell">
        <a href="#" class="navigate-right" bind-event-click="app.showFieldSelect()">
          Find a field
        </a>
      </li>
      <li href="#" class="table-view-cell">
        <a class="navigate-right" bind-event-click="app.showTeamSelect()">
          Find a team
        </a>
      </li>
    </ul>
  </div>

  <div class="bar bar-standard bar-footer">
    <a class="pull-right" href="#" bind-event-click="app.drawerOpen = false">Back to map</a>
  </div>
</div>
<!-- end find-drawer -->


<!-- schedule-screen -->
<div class="left-screen screen-schedule" bind-class="{active: app.scheduleScreen}">
  <div class="bar bar-nav bar-blue">
    <a class="nav-btn pull-left" href="#" bind-event-click="app.scheduleScreen = false">
      <span class="icon icon-left"></span> Map
    </a>
    <h1 class="title">Schedule</h1>
  </div>

  <div class="bar bar-standard bar-header-secondary bar-blue">
    <div class="team-search">
      <input class="awesomplete" placeholder="Search ..."
        data-minchars="1"
        data-list="<%= @teams.map{ |t| t.name }.join(', ') %>"
        bind-event-change="app.scheduleSearchChange(event)">
    </div>
  </div>

  <div class="content">
    <ul class="table-view">
      <% @games.group_by{|g| g.start_time }.each do |time, games| %>
        <li class="table-view-divider"  bind-show="app.scheduleFilter(<%= games.map{|g| [g.home.name, g.away.name]}.flatten.to_json %>)">
          <%= time.strftime("%l:%M %P") %>
        </li>
        <% games.each do |game| %>
          <li class="table-view-cell" bind-show="app.scheduleFilter(<%= [game.home.name, game.away.name].to_json %>)">
            <%= game.home.name %> <span class="subdued">vs</span> <%= game.away.name %>
            <% if game.score_confirmed %>
              <%= "(#{game.home_score}/#{game.away_score})" %>
            <% end %>
            <a class="navigate-right btn btn-invis btn-green btn-field" bind-event-click="app.findField('<%= game.field.name %>')">
              <%= game.field.name %>
              <i class="fa fa-map-marker"></i>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<!-- end schedule-screen -->


<!-- submit-score-screen A -->
<div class="right-screen" bind-class="{active: app.submitScoreScreenA}">
  <div class="bar bar-nav bar-blue">
    <a class="nav-btn pull-left" href="#" bind-event-click="app.submitScoreScreenA = false">
      <span class="icon icon-left"></span> Map
    </a>
    <h1 class="title">Submit a score</h1>
  </div>

  <div class="content">
    <div class="submit-search">
      <div class="team-search">
        <p>Our Team:<p>
        <input class="awesomplete" placeholder="Search ..."
          data-minchars="1"
          data-list="<%= @teams.map{ |t| t.name }.join(', ') %>"
          bind-event-change="app.submitSearchChange(event)">
      </div>
    </div>
    <div class="content-padded">
      <p>Submit a score for each team played</p>
    </div>
    <div class="card">
      <ul class="table-view">
        <% @games.each do |game| %>
          <li class="table-view-cell" bind-show="app.submitFilter(<%= [game.home.name, game.away.name].to_json %>)">
            <a class="navigate-right" bind-event-click='app.submitScoreForm(<%= game.id %>, "<%= game.home.name %>", "<%= game.away.name %>")'>
              <span bind='app.vsTeam("<%= game.home.name %>", "<%= game.away.name %>")'></span>
              <span class="subdued">(<%= game.start_time.strftime("%l:%M %P") %>)</span>
            </a>
          </li>
        <% end %>
      </ul>
    <div>
  </div>
</div>
<!-- end submit-score-screen A -->


<!-- submit-score-screen B -->
<div class="right-screen" bind-class="{active: app.submitScoreScreenB}">
  <div class="bar bar-nav bar-blue">
    <h1 class="title">Submit a score</h1>

    <a class="nav-btn pull-left" href="#" bind-event-click="app.submitScoreScreenB = false">
      <span class="icon icon-left"></span> Games
    </a>
  </div>

  <div class="content">
    <%= form_tag app_score_submit_path, method: :post, 'bind-event-submit' => 'app.submitScore(this)' do |form| %>
      <%= hidden_field_tag 'game_id' %>
      <%= hidden_field_tag 'team_id' %>
      <%= hidden_field_tag 'submitter_fingerprint' %>

      <div class="score-inputs">
        <div class="form-grid">
          <%= label_tag 'team_score', '', class:"score-label" %>
          <%= number_field_tag 'team_score', nil, class:"score-input" %>
        </div>

        <div class="form-grid form-grid-spacer">
          &mdash;
        </div>

        <div class="form-grid">
          <%= label_tag 'opponent_score', '', class:"score-label" %>
          <%= number_field_tag 'opponent_score', nil, class:"score-input" %>
        </div>
      </div>

      <header class="content-padded center">
        <h3>Sprite of the game score</h3>
        <p>Your whole team should be involved in rating team Firebird!</p>
      </header>
      <br>
      <div class="content-padded">
        <h4>1. Rules knowledge and Use</h4>
        <p>Examples: They did purposefully misinterpret the rules. They kept to time limits. When they didn't know the rules they showed a real willingness to learn</p>
        <%= render 'spirit_question', field: 'rules_knowledge' %>

        <h4>2. Fouls and Body Contact</h4>
        <p>Examples: They avoided fouling, contact, and dangerous plays.</p>
        <%= render 'spirit_question', field: 'fouls' %>

        <h4>3. Fair-Mindedness</h4>
        <p>Examples: They apologized in situations where it was appropriate, informed teammates about wrong/unnecessary calls. Only called significant breaches</p>
        <%= render 'spirit_question', field: 'fairness' %>

        <h4>4. Positive Attitude and Self-Control</h4>
        <p>Examples: They were polite. They played with appropriate intensity irrespective of the score. They left an overall positive impression during and after the game.</p>
        <%= render 'spirit_question', field: 'attitude' %>

        <h4>5. Communication</h4>
        <p>Examples: They communicated respectfully. They listened. They kept to discussion time limits.</p>
        <%= render 'spirit_question', field: 'communication' %>
      </div>

      <%= submit_tag "Submit", class: 'btn btn-positive btn-block btn-bottom' %>
    <% end %>
  </div>

</div>
<!-- end submit-score-screen B -->

<script>
  $( document ).ready(function() {
    app = new TournamentApp.App(
      <%= @map.location %>,
      <%= @map.zoom %>,
      <%= raw @fields.to_json %>,
      <%= raw @teams.to_json %>,
      <%= raw @games.to_json %>
    );
  });
</script>
