<div id="app" define='{
  app: new App.MainScreen(
    <%= @map.location %>,
    <%= @map.zoom %>,
    <%= @fields.to_json %>,
    <%= @teams.to_json %>,
    <%= @games.to_json %>,
    <%= @tournament.time_cap %>,
    "<%= asset_path('fa-map-marker.svg') %>"
  )}'
  context='app'>
  <%= render 'main_screen', locals: { games: @games, teams: @teams, fields: @fields } %>
  <%= render 'schedule_screen', locals: { games: @games, teams: @teams } %>
  <%= render 'submit_score_screen', locals: { games: @games, teams: @teams } %>
  <%= render 'submit_score_screen_form' %>
</div>
