<!-- main-view -->
<div class="bar bar-nav bar-tblue" bind-show="!(app.scheduleScreen || app.submitScoreScreen)">
  <a class="nav-btn pull-left" href="#" bind-event-click="app.scheduleScreen = true">
    <i class="fa fa-list-alt"></i> Schedule
  </a>
  <a class="nav-btn pull-right" href="#" bind-event-click="app.submitScoreScreen = true">
    Submit a score <i class="fa fa-star-half-o"></i>
  </a>
</div>

<div id="field-search" class="bar bar-standard bar-header-secondary search-bar" bind-show="!!app.fieldSearchOpen">
  <select placeholder="Search ..." bind-event-change="app.fieldSelected(event)">
    <% @fields.each do |field| %>
      <option value="<%= field.name %>"><%= field.name %></option>
    <% end %>
  </select>
</div>

<div id="team-search" class="bar bar-standard bar-header-secondary search-bar" bind-show="!!app.teamSearchOpen">
  <select placeholder="Search ..." bind-event-change="app.teamSelected(event)">
    <% @teams.each do |team| %>
      <option value="<%= team.name %>"><%= team.name %></option>
    <% end %>
  </select>
</div>

<div class="bar bar-standard bar-footer">
  <a class="btn btn-find pull-right" href="#" bind-event-click="app.drawerOpen = true" bind-show="!(app.drawerOpen || app.modalOpen)">
    Find <i class="fa fa-caret-up"></i>
  </a>
</div>

<div class="content">
</div>

<div id="map-canvas" style="position: absolute; width: 100%; height: 100%;"></div>
<!-- end main-view -->


<!-- point-me-there modal -->
<div class="modal" id="point-me-there" bind-class="{active: app.modalOpen}">
  <div class="bar bar-standard">
    <h1 class="title">Title</h1>
    <a class="icon icon-close pull-right" href="#" bind-event-click="app.modalOpen = false"></a>
  </div>

  <div class="content center transparent">
    <%= image_tag 'point-me-there.png', id: 'arrow', class: 'arrow' %>
  </div>

  <div class="bar bar-standard bar-footer-secondary">
    <p>Footer</p>
  </div>
</div>
<!-- end point-me-there modal -->


<!-- find-drawer -->
<div class="drawer" bind-class="{active: app.drawerOpen}">
  <div class="content transparent">
    <ul class="table-view">
      <li class="table-view-cell">
        <a href="#" class="navigate-right" bind-event-click="app.showFieldSelect()">
          Find a field
        </a>
      </li>
      <li href="#" class="table-view-cell">
        <a class="navigate-right" bind-event-click="app.showTeamSelect()">
          Find a team
        </a>
      </li>
    </ul>
  </div>

  <div class="bar bar-standard bar-footer">
    <a class="pull-right" href="#" bind-event-click="app.drawerOpen = false">Back to map</a>
  </div>
</div>
<!-- end find-drawer -->


<!-- schedule-screen -->
<div class="left-screen" bind-class="{active: app.scheduleScreen}">
  <div class="bar bar-nav bar-blue">
    <a class="nav-btn pull-left" href="#" bind-event-click="app.scheduleScreen = false">
      <!-- why can't I get a click event on 'Map' if its outside this span? -->
      <span class="icon icon-left"></span> Map
    </a>
    <h1 class="title">Schedule</h1>
  </div>

  <div class="bar bar-standard bar-header-secondary bar-blue">
    <select id="schedule-team-search" placeholder="Search ..." bind-event-change="app.scheduleSearchChange(event)">
      <% @teams.each do |team| %>
        <option value="<%= team.name %>"><%= team.name %></option>
      <% end %>
    </select>
  </div>

  <div class="content">
    <ul class="table-view">
      <% @games.group_by{|g| g.start_time }.each do |time, games| %>
        <li class="table-view-divider"  bind-show="app.scheduleFilter(<%= games.map{|g| [g.home.name, g.away.name]}.flatten.to_json %>)">
          <%= time.strftime("%l:%M %P") %>
        </li>
        <% games.each do |game| %>
          <li class="table-view-cell" bind-show="app.scheduleFilter(<%= [game.home.name, game.away.name].to_json %>)">
            <a class="navigate-right" bind-event-click="app.fieldSelected('<%= game.field.name %>')">
              <%= game.home.name %> <span class="subdued">vs</span> <%= game.away.name %>
              <% if game.score_confirmed %>
                <%= "(#{game.home_score}/#{game.away_score})" %>
              <% end %>
              <!-- this should not be an anchor but just pulled right -->
              <a class="btn btn-invis btn-green">
                <%= game.field.name %>
              </a>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<!-- end schedule-screen -->


<!-- submit-score-screen -->
<div class="right-screen" bind-class="{active: app.submitScoreScreen}">
  <div class="bar bar-nav bar-blue">
    <h1 class="title">Submit a score</h1>

    <a class="nav-btn pull-right" href="#" bind-event-click="app.submitScoreScreen = false">
      Map <span class="icon icon-right"></span>
    </a>
  </div>

  <div class="content">
    <form>

      <div class="score-inputs">
        <div class="form-grid">
          <label class="score-label">Phoenix</label>
          <input class="score-input" type="number">
        </div>

        <div class="form-grid form-grid-spacer">
          &mdash;
        </div>

        <div class="form-grid">
          <label class="score-label">Firebird</label>
          <input class="score-input" type="number">
        </div>
      </div>

      <header class="content-padded center">
        <h3>Sprite of the game score</h3>
        <p>Your whole team should be involved in rating team Firebird!</p>
      </header>
      <br>
      <div class="content-padded">
        <h4>1. Rules knowledge and Use</h4>
        <p>Examples: They did purposefully misinterpret the rules. They kept to time limits. When they didn't know the rules they showed a real willingness to learn</p>
        <div class="radio-control">
          <input name="rules_knowledge" id="poor" type="radio">
          <label for="poor">Poor</label>
        </div>
        <div class="radio-control">
          <input name="rules_knowledge" id="not-good" type="radio">
          <label for="not-good">Not Good</label>
        </div>
        <div class="radio-control">
          <input name="rules_knowledge" id="good" type="radio">
          <label for="good">Good</label>
        </div>
        <div class="radio-control">
          <input name="rules_knowledge" id="very-good" type="radio">
          <label for="very-good">Very Good</label>
        </div>
      </div>

    </form>
  </div>

</div>
<!-- end submit-score-screen -->

<script>
  $( document ).ready(function() {
    app = new TournamentApp.App(
      <%= @map.location %>,
      <%= @map.zoom %>,
      <%= raw @fields.to_json %>,
      <%= raw @teams.to_json %>,
      <%= raw @games.to_json %>
    );
  });
</script>
