<% content_for :top_bar_left do %>
  <i class="fa fa-cogs"></i>
  Settings / Tournament
<% end %>

<%= content_for :top_bar_right do %>
  <%= ui_save_button_tag(form_id:'.edit_tournament') %>
<% end %>

<%= render 'confirm_reset_modal' %>
<%= render 'admin/errors', name: 'Settings', errors: @tournament.errors.full_messages %>

<div class="row">
  <div class="col-md-8">
    <%= ui_box do %>
      <%= form_for @tournament, url: admin_settings_path, html: {
        'bind-event-submit' => "Admin.ActionWithCheck(
          '#{admin_settings_path}',
          'PUT',
          false,
          this
        )"} do |form| %>
        <%= render 'form', form: form %>
        <hr>
        <%= form.ui_save_button %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= ui_box do %>
      <h4>
        <i class="fa fa-exclamation-triangle"></i>
        Reset all Data
      </h4>

      <p>
        This is permament and can't be undone
      </p>

      <div class="pull-right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmResetModal">
          Reset data
        </button>
      </div>
    <% end %>
  </div>
</div>
