<div class="register-box animated <%= login_animation %>">
  <% if session[:tournament_friendly_id].present? %>
    <%= render 'login_for_tournament' %>
  <% else %>
    <%= render 'login' %>
  <% end %>

  <br>
  <div class="text-center">
    <p style="margin-bottom: 15px;">or</p>
  </div>

  <div class="social-auth-links text-center">
    <div style="width: 55%; margin: auto;">
      <%= link_to user_omniauth_authorize_path(:google_oauth2),
            class: "btn btn-block btn-social btn-google btn-flat", style: 'margin-bottom: 10px;' do %>
        <span class="fa fa-google"></span> Sign in with Google
      <% end %>

      <%= link_to user_omniauth_authorize_path(:facebook),
            class: "btn btn-block btn-social btn-facebook btn-flat", style: "margin-bottom: 5px;" do %>
        <span class="fa fa-facebook"></span> Sign in with Facebook
      <% end %>
    </div>
  </div>
</div>
