<%= form.ui_text_field :name, autocomplete: 'off' %>

<div define="{bracketChoice: new Admin.BracketChoice(this)}">
  <div class="form-group row">
    <div class="col-md-6">
      <%= form.ui_number_field :num_teams, min: 3, label_html: '# Teams' %>
    </div>

    <div class="col-md-6">
      <%= form.ui_number_field :num_days, min: 1, max: 2, label_html: '# Days' %>
    </div>
  </div>

  <div class="form-group">
    <% options = bracket_options(division) %>
    <%= form.ui_select :bracket_type, 'Bracket', options, disabled:  options.blank? %>

    <div class="hidden-sm hidden-md hidden-lg">
      <div class="form-group">
        <button type="button" class="btn btn-block btn-info btn-lg" data-toggle="modal" data-target="#bracketVisModal">
          View Bracket <i class="fa fa-external-link-square" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="panel panel-default subdued">
      <div class="panel-body">
        <i class="fa fa-question-circle"></i>
        Can't find the bracket you need?
        <%= mail_to('contact@ultimate-tournament.io', 'contact us') %>
        and we'll sort you out.
      </div>
    </div>
  </div>
</div>
