<h4>Seeding</h4>

<%= form_tag update_teams_tournament_admin_division_path(@tournament, division), method: :put, remote: true do %>

  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Team</th>
        <th>seed</th>
      </tr>
    </thead>
    <tbody>
      <% division.teams.sort_by{ |t| t.seed || 1000 }.each do |team| %>
        <tr>
          <%= hidden_field_tag 'team_ids[]', team.id %>
          <td><%= team.name %></td>
          <td class="td-input">
            <div class="td-input">
              <%= number_field_tag 'seeds[]',
                team.seed,
                class: 'td-input form-control',
                min: '1',
                max: division.teams.count %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-right">
    <%= ui_save_button_tag %>
  </div>
<% end %>
