<%= ui_box do %>
  <h4>Seeding</h4>
  <p>
    You can update the seeds for the teams in this division conviently here.
    Remeber if you change the teams you'll have to re-seed the division.
  </p>

  <div id="redips-drag" define="{seeding: new Admin.Seeding()}">
    <%= form_tag update_teams_admin_division_path(division), method: :put, remote: true do %>
      <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th class="redips-mark">Team</th>
            <th class="redips-mark">seed</th>
          </tr>
        </thead>
        <tbody>
          <% division.teams.sort_by{ |t| t.seed || 1000 }.each do |team| %>
            <tr>
              <%= hidden_field_tag 'team_ids[]', team.id %>
              <td class="redips-rowhandler">
                <div class="redips-drag redips-row">
                  <%= team.name %>
                </div>
              </td>
              <td class="td-input">
                <%= number_field_tag 'seeds[]',
                  team.seed,
                  class: 'td-input form-control',
                  min: '1',
                  max: division.teams.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="pull-right">
        <%= ui_save_button_tag(text: 'Update') %>
      </div>
    <% end %>
  </div>
<% end %>

<%= ui_box do %>
  <p>
    Seed your division. This will create games and assign teams to the initial rounds.
  </p>

  <div class="pull-right">
    <% klass = @division.dirty_seed? ? 'btn-warning' : 'btn-success' %>
    <%= button_tag 'Seed', class: "btn #{klass} js-btn-loadable",
      'bind-class' => '{disabled: !canSeed}',
      'bind-event-click' => "Admin.ActionWithCheck(
        '#{seed_admin_division_path(@division)}',
        'PUT'
      )" %>
  </div>
<% end %>
