<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  <%= link_to 'Divisions', admin_divisions_path %> / <%= @division.name.present? ? @division.name : 'Edit' %>
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'Cancel', admin_division_path(@division), class: "btn btn-default" %>
  <%= ui_save_button_tag(form_id:'.edit_division') %>
<% end %>

<%= render 'admin/errors', object: @division %>

<div class="row">
  <div class="col-md-5">
    <%= ui_box do %>
      <%= form_for [:admin, @division], html: {
        'bind-event-submit' => "Admin.ActionWithCheck(
          '#{admin_division_path(@division)}',
          'PUT',
          false,
          this
        )"} do |form| %>
        <%= render 'form', form: form, division: @division %>
        <hr>
        <%= form.ui_save_button %>
      <% end %>
      <%= button_tag 'delete', class: 'btn btn-danger js-btn-loadable',
          'bind-event-click' => "Admin.ActionWithCheck(
            '#{admin_division_path(@division)}',
            'DELETE'
          )" %>
    <% end %>
  </div>

  <div class="col-md-7">
    <%= render 'bracket' %>
  </div>
</div>
