<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  Divisions
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'New', new_tournament_admin_division_path(@tournament), class: "btn btn-primary" %>
<% end %>

<% if @divisions.present? %>
  <%= ui_box do %>
    <%= react_element('Admin.DivisionsIndex', props: {
      divisions: render(template: 'admin/divisions/divisions.json.jbuilder'),
      searchColumns: ["name"],
      filters: []
    }) %>
  <% end %>
<% else %>
  <div class="blank-slate">
    <h3>Create Divisions and Brackets</h3>
    <p>
      Divisions control your tournament, whether its a round robin or single elimination.
      They create the right games and add teams when seeded.
    </p>
    <%= link_to 'New Division', new_tournament_admin_division_path(@tournament), class: "btn btn-primary" %>
  </div>
<% end %>
