<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  <%= link_to 'Divisions', admin_divisions_path %> / New
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'Cancel', admin_divisions_path, class: "btn btn-default" %>
  <%= ui_save_button_tag(form_id:'.new_division') %>
<% end %>

<%= render 'admin/errors', object: @division %>

<div class="row">
  <div class="col-md-5">
    <%= ui_box do %>
      <%= form_for [:admin, @division], remote: true do |form| %>
        <%= render 'form', form: form, division: @division %>
        <hr>
        <%= form.ui_save_button %>
      <% end %>
      <%= link_to "Cancel", admin_divisions_path, class: 'btn btn-default' %>
    <% end %>
  </div>

  <div class="col-md-7">
    <%= render 'bracket' %>
  </div>
</div>
