<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  <%= link_to 'Divisions', tournament_admin_divisions_path(@tournament) %> / <%= @division.name.present? ? @division.name : 'Edit' %>
<% end %>

<%= content_for :top_bar_right do %>
  <%= ui_save_button_tag(form_id:'.edit_division') %>
<% end %>

<%= render 'admin/errors', object: @division %>

<div class="row" define="{divisionShow: new Admin.DivisionShow()}" context="divisionShow">
  <div class="col-md-8">
    <%= ui_box do %>
      <%= form_for [@tournament, :admin, @division], remote: true do |form| %>
        <%= render 'form', form: form, division: @division %>
      <% end %>
      <%= button_to "delete", [@tournament, :admin, @division], method: :delete, class: 'btn btn-danger' %>
    <% end %>

    <%= ui_box do %>
      <div style="height: 420px;" define="{bracketVis: new Admin.BracketVis(this, '<%= @division.bracket_type %>')}"></div>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if @division.teams.present? %>
      <%= render 'seeding', division: @division %>
    <% else %>
      <%= ui_box do %>
        <h4>
          <i class="fa fa-exclamation-triangle"></i>
          Seeding
        </h4>
        <p>
          This divisions has no teams and can't be seeded.
        </p>
        <p>
          Add teams from the <%= link_to 'Teams page', tournament_admin_teams_path(@tournament) %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
