<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  <%= link_to 'Divisions', admin_divisions_path %> / <%= @division.name.present? ? @division.name : 'Edit' %>
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'Back', admin_divisions_path, class: "btn btn-default" %>
  <%= link_to 'Edit', edit_admin_division_path(@division), class: "btn btn-primary" %>
<% end %>

<div class="row">
  <div class="col-md-5">
    <% if @division.teams.present? %>
      <%= render 'seeding', division: @division %>
    <% else %>
      <%= ui_box do %>
        <h4>
          <i class="fa fa-exclamation-triangle"></i>
          Seeding
        </h4>
        <p>
          This divisions has no teams and can't be seeded.
        </p>
        <p>
          Add teams from the <%= link_to 'Teams page', admin_teams_path %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-7">
    <%= render 'bracket' %>
  </div>
</div>
