<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  <%= link_to 'Divisions', admin_divisions_path %> / <%= @division.name.present? ? @division.name : 'Edit' %>
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'New', new_admin_division_path, class: "btn btn-default" %>
  <%= ui_save_button_tag(form_id:'.edit_division') %>
<% end %>

<%= render 'admin/errors', object: @division %>

<div class="row" define="{divisionShow: new Admin.DivisionShow()}" context="divisionShow">
  <div class="col-md-8">
    <%= ui_box do %>
      <%= form_for [:admin, @division], remote: true do |form| %>
        <%= render 'form', form: form, division: @division %>
      <% end %>
      <%= button_tag 'delete', class: 'btn btn-danger js-btn-loadable',
          'bind-event-click' => "Admin.ActionWithCheck(
            '#{admin_division_path(@division)}',
            'DELETE'
          )" %>
    <% end %>

    <%= render 'bracket' %>
  </div>

  <div class="col-md-4">
    <% if @division.teams.present? %>
      <%= render 'seeding', division: @division %>
    <% else %>
      <%= ui_box do %>
        <h4>
          <i class="fa fa-exclamation-triangle"></i>
          Seeding
        </h4>
        <p>
          This divisions has no teams and can't be seeded.
        </p>
        <p>
          Add teams from the <%= link_to 'Teams page', admin_teams_path %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
