<% content_for :top_bar_left do %>
  <i class="fa fa-sitemap"></i>
  <%= link_to 'Divisions', admin_divisions_path %> / <%= @division.name.present? ? @division.name : 'Edit' %>
<% end %>

<%= content_for :top_bar_right do %>
  <%= link_to 'Back', admin_divisions_path, class: "btn btn-default" %>
  <%= link_to 'Edit', edit_admin_division_path(@division), class: "btn btn-primary" %>
<% end %>

<% if @division.dirty_seed? %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="icon fa fa-info"></i>
    This division needs to be seeded before games can start.
    <%= link_to 'Seed this division', seed_admin_division_path(@division) %>
  </div>
<% end %>

<%= ui_box do %>
  <%= react_component('Division',
    props: {
      bracket_handle: @division.bracket_type,
      games: @division.games,
      bracket_tree: @bracket_tree
    }
  ) %>
<% end %>
