<% content_for :top_bar_left do %>
  <i class="fa fa-user"></i>
  Settings / Account
<% end %>

<%= content_for :top_bar_right do %>
  <%= ui_save_button_tag(form_id:'.edit_user') %>
<% end %>

<%= render 'admin/errors', name: 'User', errors: @user.errors.full_messages %>

<div class="row">
  <div class="col-md-8">
    <%= ui_box do %>
      <%= form_for @user, url: admin_account_path, method: :put, remote: true do |form| %>

        <%= form.ui_text_field :email %>
        <%= form.ui_password_field :password %>
        <%= form.ui_password_field :password_confirmation %>

        <%= form.ui_save_button %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= ui_box do %>
      <h4>Tournaments:</h4>

      <% @user.tournaments.each do |tournament| %>
        <% if tournament == @tournament %>
          <%= link_to tournament.handle, "#", class: 'btn btn-info btn-block' %>
        <% else %>
          <%= link_to tournament.handle, admin_account_url(subdomain: tournament.handle), class: 'btn btn-default btn-block' %>
        <% end %>
      <% end %>

      <hr>

      <%= link_to setup_url(subdomain: 'www'), class: 'btn btn-primary btn-block' do %>
        Create new Tournament
      <% end %>
    <% end %>
  </div>
</div>
