<% content_for :top_bar_left do %>
  <div class="navbar-brand page-title">
    <i class="fa fa-user"></i>
    Account
  </div>
<% end %>

<%= content_for :top_bar_right do %>
  <%= button_tag 'Save', class: "btn btn-primary", onclick: "$('.edit_user').submit()" %>
<% end %>

<%= admin_content_box do %>
  <%= form_for @user, url: tournament_admin_account_path(@tournament), method: :put do |form| %>
    <%= render 'admin/errors', object: @user %>

    <%= form.ui_text_field :email %>
    <%= form.ui_password_field :password %>
    <%= form.ui_password_field :password_confirmation %>

    <%= form.ui_save_button %>
  <% end %>
<% end %>
