<% content_for :top_bar_left do %>
  <i class="fa fa-users"></i>
  Settings / <%= link_to 'Users', admin_users_path %> / New
<% end %>

<%= content_for :top_bar_right do %>
  <%= ui_save_button_tag(form_id:'.new_user') %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render 'admin/errors', name: 'User', errors: @user.errors.full_messages %>

    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <i class="icon fa fa-info"></i>
      If the user already has an Ultimate Tournament account then leave the password blank.
    </div>

    <%= ui_box do %>
      <%= form_for [:admin, @user], remote: true do |form| %>
        <%= form.ui_text_field :email, label_html: 'Email', autocomplete: 'off' %>
        <%= form.ui_password_field :password, label_html: 'Password', autocomplete: 'off' %>
        <hr>
        <%= form.ui_save_button %>
      <% end %>
      <%= link_to "Cancel", admin_users_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
