<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @spirit.author_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @spirit.subject_id %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @spirit.rule %>
</p>

<p>
  <strong>Foul:</strong>
  <%= @spirit.foul %>
</p>

<p>
  <strong>Fair:</strong>
  <%= @spirit.fair %>
</p>

<p>
  <strong>Tude:</strong>
  <%= @spirit.tude %>
</p>

<p>
  <strong>Comm:</strong>
  <%= @spirit.comm %>
</p>

<%= link_to 'Edit', edit_spirit_path(@spirit) %> |
<%= link_to 'Back', spirits_path %>
