<%= form_for(@team, :url => admin_tournament_team_path(params[:tournament_id], @team), :html => { :multipart => true }) do |f| %>
  <%= render 'admin/errors', object: @team %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :sms %><br>
    <%= f.text_field :sms %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :division %><br>
    <%= f.text_field :division %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
