<% if @teams.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Sms</th>
        <th>Twitter</th>
        <th>Division</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.email %></td>
          <td><%= team.sms %></td>
          <td><%= team.twitter %></td>
          <td><%= team.division %></td>
          <td><%= link_to 'Edit', edit_tournament_team_path(@tournament, team) %></td>
          <td><%= link_to 'Destroy', tournament_team_path(@tournament, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add a Team to this Tournament', new_admin_tournament_team_path(@tournament) %>
<% else %>
  <%= render 'admin/teams/upload_csv_form', locals: {tournament: @tournament} %>
<% end %>
