<% content_for :top_bar_left do %>
  <i class="fa fa-users"></i>
  Teams
<% end %>

<%= content_for :top_bar_right do %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importCsvModal">
    Import
  </button>
  <%= link_to 'New', new_admin_team_path, class: "btn btn-primary" %>
<% end %>

<%= render 'import_csv_modal' %>

<% if @teams.present? %>
  <%= ui_box do %>
    <%= react_component('Admin.TeamsIndex', {
      teams: render(template: 'admin/teams/teams.json.jbuilder', locals: {teams: @teams}),
      searchColumns: [
        "name",
        "email",
        "sms",
        "division",
        "seed"
      ],
      filters: division_filters(@tournament),
      bulkActions: add_to_division_operations(@tournament),
    }) %>
  <% end %>
<% else %>
  <div class="blank-slate">
    <h3>Manage all your teams</h3>
    <p>You can add teams manually or import from a CSV file.</p>
    <%= link_to 'Add Team', new_admin_team_path, class: "btn btn-primary" %>
  </div>
<% end %>
