<div class="container-fluid">
  <h1>Teams</h1>

  <%= render 'shared/set_errors', set: @teams %>
  <%= form_tag admin_tournament_teams_path(@tournament), "bind-event-submit" => "teamTable.save(this)" do %>
    <table class="table table-bordered table-striped table-hover table-condensed editable-table">
      <thead>
        <tr>
          <th class="hide">id</th>
          <th data-override="name">Name</th>
          <th data-override="division">Division</th>
          <th data-override="email">Email</th>
          <th data-override="sms">Sms</th>
          <th data-override="twitter">Twitter</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
          <tr class="<%= 'danger' if team.errors.present? %>">
            <td class="hide"><%= team.id %></td>
            <td><%= team.name %></td>
            <td><%= team.division %></td>
            <td><%= team.email %></td>
            <td><%= team.sms %></td>
            <td><%= team.twitter %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div id="table-menu">
      <ul class="dropdown-menu">
        <li><a data-action="add" href="#">Add Row</a></li>
        <li><a data-action="delete" href="#">Delete Row</a></li>
      </ul>
    </div>

    <div class="row">
      <input type="file" accept=".csv" bind-event-change="teamTable.uploadCsv(event)" />

      <%= submit_tag 'Save Teams', class: "btn btn-primary pull-right" %>
      <button type="button" class="btn btn-primary pull-right" bind-event-click="teamTable.addRow()">Add Team</button>
    </div>
  <% end %>
</div>

<script>
  $( document ).ready(function() {
    tableNode = $('.editable-table');
    teamTable = new Admin.TeamTable(tableNode);
  });
</script>
