<div class="container">
  <h1>Teams</h1>

  <%= form_tag admin_tournament_teams_path(@tournament), method: :post do %>
    <table class="table table-bordered table-striped table-hover editable-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Sms</th>
          <th>Twitter</th>
          <th>Division</th>
        </tr>
      </thead>
      <!-- order is kind of dumb, division should come before contact info -->
      <!-- this can be sorted server side as well eh. or using some jquert I guess -->
      <!-- might have been easier to jquery submit and have jquery get the table from the dom -->
      <tbody>
        <% @teams.each do |team| %>
          <%= fields_for 'teams[]', team do |f| %>
            <tr id="team-<%= team.id %>" context="team-<%= team.id %>">
              <td bind-event-change="name = $(this).text()"><%= team.name %></td>
              <td bind-event-change="team = $(this).text()"><%= team.email %></td>
              <td bind-event-change="sms = $(this).text()"><%= team.sms %></td>
              <td bind-event-change="twitter = $(this).text()"><%= team.twitter %></td>
              <td bind-event-change="division = $(this).text()"><%= team.division %></td>

              <%= f.hidden_field :id %>
              <%= f.hidden_field :name, bind: "name" %>
              <%= f.hidden_field :email, bind: "email" %>
              <%= f.hidden_field :sms, bind: "sms" %>
              <%= f.hidden_field :twitter, bind: "twitter" %>
              <%= f.hidden_field :division, bind: "division" %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div id="table-menu">
      <ul class="dropdown-menu">
        <li><a data-action="delete" href="#">Delete Row</a></li>
      </ul>
    </div>

    <div class="row">
      <%= submit_tag 'Save Teams', class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>

<script>
  $( document ).ready(function() {
    tableNode = $('.editable-table');
    editableTable = new TournamentApp.EditableTable(tableNode);
  });
</script>
