<% content_for :top_bar_left do %>
  <i class="fa fa-users"></i>
  Teams
<% end %>

<%= content_for :top_bar_right do %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importCsvModal">
    Import
  </button>
  <%= link_to 'New', new_tournament_admin_team_path(@tournament), class: "btn btn-primary" %>
<% end %>

<%= render 'import_csv_modal' %>

<%= content_for :content do %>
  <%= react_component('Admin.TeamsIndex', {
    teams: render(template: 'admin/teams/teams.json.jbuilder'),
    searchColumns: [
      "name",
      "email",
      "sms",
      "division",
      "seed"
    ],
    filters: division_filters(@teams)
  }) %>
<% end %>
