<% content_for :top_bar_left do %>
  <i class="fa fa-users"></i>
  <%= link_to 'Teams', admin_teams_path %> / New
<% end %>

<%= content_for :top_bar_right do %>
  <%= ui_save_button_tag(form_id:'.new_team') %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render 'admin/errors', object: @team %>

    <%= ui_box do %>
      <%= form_for [:admin, @team], remote: true do |form| %>
        <%= render 'form', form: form, team: @team %>
      <% end %>
      <%= link_to "Cancel", admin_teams_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
