<% content_for :top_bar_left do %>
  <div class="navbar-brand page-title">
    <i class="fa fa-users"></i>
    <%= link_to 'Teams', tournament_admin_teams_path(@tournament) %> / New
  </div>
<% end %>

<%= content_for :top_bar_right do %>
  <%= button_tag 'Save', class: "btn btn-primary", onclick: "$('.new_team').submit()" %>
<% end %>

<%= admin_content do %>
  <%= form_for [@tournament, :admin, @team] do |form| %>
    <%= render 'form', form: form, team: @team %>
  <% end %>
<% end %>
