<% content_for :top_bar_left do %>
  <i class="fa fa-users"></i>
  <%= link_to 'Teams', tournament_admin_teams_path(@tournament) %> / <%= @team.name.present? ? @team.name : 'Edit' %>
<% end %>

<%= content_for :top_bar_right do %>
  <%= ui_save_button_tag('.edit_team') %>
<% end %>

<%= render 'admin/errors', object: @team %>

<div class="row">
  <div class="col-md-8">
    <%= ui_box do %>
      <%= form_for [@tournament, :admin, @team], remote: true do |form| %>
        <%= render 'form', form: form, team: @team %>
      <% end %>
      <%= button_to "delete", [@tournament, :admin, @team], method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>

  <!-- https://developers.facebook.com/docs/plugins/page-plugin -->
  <div class="col-md-4">
    <div class="row">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=754008491396080";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div class="fb-page"
           data-href="https://www.facebook.com/ottawa.phoenix"
           data-tabs="timeline, events, messages"
           data-small-header="false"
           data-adapt-container-width="true"
           data-hide-cover="false"
           data-show-facepile="false">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-11">
        <a class="twitter-timeline"  href="https://twitter.com/phoenixultimate" data-widget-id="695472419889410048">Tweets by @phoenixultimate</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
