<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      <h4 class="modal-title">Confirm Change</h4>
    </div>

    <div class="modal-body">
      <p>
        There are games scheduled for this team.
        Updating the team may unassign it from those games. You
        will need to re-seed the <%= link_to @team.division.name, admin_division_path(@team.division) %>
        division.
      </p>
    </div>

    <div class="modal-footer">
      <%= form_for [:admin, @team], html: {
        'bind-event-submit' => "Admin.ActionWithCheck(
          '#{admin_team_path(@team)}',
          'PUT',
          true,
          this
        )"} do |form| %>
        <div class="hide">
          <%= render 'form', form: form, team: @team %>
        </div>
        <%= hidden_field_tag 'confirm', true %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= form.submit class: 'btn btn-danger js-btn-loadable' %>
      <% end %>
    </div>
  </div>
</div>
