<% content_for :top_bar_left do %>
  <i class="fa fa-cogs"></i>
  Settings / Map
<% end %>

<%= content_for :top_bar_right do %>
  <%= ui_save_button_tag(form_id:'.edit_tournament') %>
<% end %>

<%= form_for @tournament, url: admin_map_path, html: { define: "{
  fieldsIndexMap: new Admin.FieldsIndexMap(
    $(this),
    #{@map.lat},
    #{@map.long},
    #{@map.zoom},
    #{render(template: 'admin/fields/fields.json.jbuilder')}
  )}"} do |form| %>

  <div class="row">
    <div class="col-md-8">
      <%= ui_box do %>
        <p>
          Find your facility on the map below.
          This is the map that will be shown in the player app.
        </p>

        <p>
          Search then scroll and zoom to frame your facility nicely before saving.
        </p>
        <div style="padding-bottom: 10px;">
          <input type="text" name="search" id="placesSearch" class="form-control" placeholder="Search ..."/>
        </div>
        <div id="_map" style="width: 100%; height: 640px;"></div>
        <hr>
        <%= form.ui_save_button %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= ui_box do %>
        <p>
          These fields will be update automatically as you position the map.
          If you know the GPS coordinates of your facility then you can enter them
          here and the map will re-position itself.
        </p>

        <%= form.fields_for :map do |f| %>
          <%= f.hidden_field :id %>
          <%= f.ui_text_field :lat %>
          <%= f.ui_text_field :long %>
          <%= f.ui_text_field :zoom, help_text: 'a value between 18 and 16 is typical' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
