<!DOCTYPE html>
<html>
<head>
  <title>TournamentApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>

<body>
  <div id="wrapper">
    <%= render '/admin/sidebar', locals: {tournament: @tournament} %>
    <div id="page-content-wrapper">
      <%= yield %>
    </div>
    <%= render '/admin/flash_messages' %>
  </div>
</body>

<script type="text/javascript">
  var context = {};
  document.addEventListener('page:change', function() {
    Twine.reset(context).bind().refresh()
  });
</script>

</html>
