<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ultimate Tournament</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'shared/rollbar' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="skin-green sidebar-mini <%= sidebar_class %> fixed animated <%= flash[:animate] %>">
  <div class="wrapper">
    <%= render 'admin/sidebar' %>
    <div class="content-wrapper">
      <section class="content">
        <%= yield %>
      </section>
    </div>
  </div>

  <div class="modal fade" id="confirmActionModal">
  </div>

  <%= render 'admin/flash' %>
</body>

</html>
