<!DOCTYPE html>
<html>
<head>
  <title>TournamentApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>

<body>
  <%= render '/admin/sidebar' %>
  <%= yield %>
  <%= render '/admin/flash_messages' %>
</body>
</html>
