<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ultimate Tournament</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="skin-green sidebar-mini <%= sidebar_class %> fixed animated <%= flash[:animate] %>">
  <div class="wrapper">
    <%= render 'admin/sidebar' %>
    <div class="content-wrapper">

      <section class="content-header">
        <h1><%= yield :top_bar_left %></h1>

        <div class="breadcrumb" style='top: 5px;'>
          <%= yield :top_bar_right %>
        </div>
      </section>

      <section class="content">
        <div class="box">
          <div class="box-body">
            <%= yield :content %>
          </div>
        </div>
      </section>

      <%= yield %>

    </div>
  </div>

  <%= render 'admin/flash' %>
</body>

</html>
