<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @tournament.name %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'app', media: 'all' %>
  <%= render 'shared/rollbar' %>
  <%= javascript_include_tag 'app_vendor' %>
  <%= javascript_include_tag 'app' %>
</head>

<body>
  <%= yield %>
</body>
</html>
