<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <title>Ultimate Tournament</title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'shared/rollbar' %>
  <%= csrf_meta_tags %>
</head>

<body class="register-page">
  <div id="closebt-container">
    <%= link_to root_path do %>
      <%= image_tag "brochure/closebt.svg", class: "closebt" %>
    <% end %>
  </div>

  <%= yield %>
</body>
