<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ultimate Tournament</title>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
  <%= stylesheet_link_tag 'login', media: 'all' %>
  <%= render 'shared/rollbar' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <span class="title">
        Ultimate Tournament
      </span>
    </div>
  </nav>

  <%= yield %>
  <%= javascript_include_tag 'login' %>
  <%= yield :javascript %>
</body>
</html>
